.DS_Store
.pytest_cache/
__pycache__/
*.pyc
.env
.venv/
backend/.venv/
backend/tests/test.sqlite3
backend/.pytest_cache/
backend/**/*.pyc
backend/**/__pycache__/
frontend/node_modules/
frontend/dist/
frontend/.angular/
